/* add your styles here */
body {
	font-family: "Courier New", Courier, monospace;
	padding-left: 20px;
}

body h1 {
	font-family: "Times New Roman", Times, serif;
	color: red;
	text-align: center;
}

body h2 {
	text-decoration: underline;
}

h2 {
	background: rgb(234, 241, 241);
	padding: 5px;
}
